LIBRERIA_WEB_DSD2018/WebAplicacionLibreria2018/Service References/ServiceReference2/ClientService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClientService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52577/ClientService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52577/ClientService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52577/ClientService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WScliente.Dominio" />
      <xsd:import schemaLocation="http://localhost:52577/ClientService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WScliente.Errores" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClientService_ObtenerCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCliente" />
  </wsdl:message>
  <wsdl:message name="IClientService_ObtenerCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_ListarAllClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarAllClientes" />
  </wsdl:message>
  <wsdl:message name="IClientService_ListarAllClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarAllClientesResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_BuscarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCliente" />
  </wsdl:message>
  <wsdl:message name="IClientService_BuscarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_BuscarCliente_DuplicadoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WScliente.Errores" name="detail" element="q1:DuplicadoException" />
  </wsdl:message>
  <wsdl:message name="IClientService_CrearCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearCliente" />
  </wsdl:message>
  <wsdl:message name="IClientService_CrearCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_CrearCliente_DuplicadoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/WScliente.Errores" name="detail" element="q2:DuplicadoException" />
  </wsdl:message>
  <wsdl:message name="IClientService_ModificarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarCliente" />
  </wsdl:message>
  <wsdl:message name="IClientService_ModificarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_EliminarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCliente" />
  </wsdl:message>
  <wsdl:message name="IClientService_EliminarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IClientService">
    <wsdl:operation name="ObtenerCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/ObtenerCliente" message="tns:IClientService_ObtenerCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/ObtenerClienteResponse" message="tns:IClientService_ObtenerCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarAllClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/ListarAllClientes" message="tns:IClientService_ListarAllClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/ListarAllClientesResponse" message="tns:IClientService_ListarAllClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/BuscarCliente" message="tns:IClientService_BuscarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/BuscarClienteResponse" message="tns:IClientService_BuscarCliente_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IClientService/BuscarClienteDuplicadoExceptionFault" name="DuplicadoExceptionFault" message="tns:IClientService_BuscarCliente_DuplicadoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/CrearCliente" message="tns:IClientService_CrearCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/CrearClienteResponse" message="tns:IClientService_CrearCliente_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IClientService/CrearClienteDuplicadoExceptionFault" name="DuplicadoExceptionFault" message="tns:IClientService_CrearCliente_DuplicadoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/ModificarCliente" message="tns:IClientService_ModificarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/ModificarClienteResponse" message="tns:IClientService_ModificarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/EliminarCliente" message="tns:IClientService_EliminarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/EliminarClienteResponse" message="tns:IClientService_EliminarCliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClientService" type="tns:IClientService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerCliente">
      <soap:operation soapAction="http://tempuri.org/IClientService/ObtenerCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarAllClientes">
      <soap:operation soapAction="http://tempuri.org/IClientService/ListarAllClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCliente">
      <soap:operation soapAction="http://tempuri.org/IClientService/BuscarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DuplicadoExceptionFault">
        <soap:fault use="literal" name="DuplicadoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CrearCliente">
      <soap:operation soapAction="http://tempuri.org/IClientService/CrearCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DuplicadoExceptionFault">
        <soap:fault use="literal" name="DuplicadoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ModificarCliente">
      <soap:operation soapAction="http://tempuri.org/IClientService/ModificarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCliente">
      <soap:operation soapAction="http://tempuri.org/IClientService/EliminarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientService">
    <wsdl:port name="BasicHttpBinding_IClientService" binding="tns:BasicHttpBinding_IClientService">
      <soap:address location="http://localhost:52577/ClientService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>