LIBRERIA_WEB_DSD2018/WebAplicacionLibreria2018/Service References/ServiceReference2/ClientService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WScliente.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WScliente.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="apeMater" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apePater" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:int" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCliente" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cliente" nillable="true" type="tns:cliente" />
  <xs:complexType name="ArrayOfcliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cliente" nillable="true" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcliente" nillable="true" type="tns:ArrayOfcliente" />
</xs:schema>