LIBRERIA_WEB_DSD2018/WebAplicacionLibreria2018/Service References/WSPedidos/Pedidos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49557/Pedidos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WSPedido.Dominio" />
  <xs:element name="CrearPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WSPedido.Dominio" minOccurs="0" name="pedidoACrear" nillable="true" type="q1:Pedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WSPedido.Dominio" minOccurs="0" name="CrearPedidoResult" nillable="true" type="q2:Pedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dni" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WSPedido.Dominio" minOccurs="0" name="ObtenerPedidoResult" nillable="true" type="q3:Pedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>