LIBRERIA_WEB_DSD2018/WebAplicacionLibreria2018/Service References/WSPedidos/Pedidos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WSPedido.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WSPedido.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Pedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="CorreoCli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DniCli" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaPed" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdPedido" type="xs:int" />
      <xs:element minOccurs="0" name="NombreCli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RutaFile" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pedido" nillable="true" type="tns:Pedido" />
</xs:schema>