LIBRERIA_WEB_DSD2018/WebAplicacionLibreria2018/Service References/ServiceReferenceWScliente/ClientService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WScliente.Errores" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WScliente.Errores" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DuplicadoException">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcionError" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DuplicadoException" nillable="true" type="tns:DuplicadoException" />
</xs:schema>