LIBRERIA_WEB_DSD2018/WebSite1/App_WebReferences/ServiceReference1/ServiceProductos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceProductos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60899/ServiceProductos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60899/ServiceProductos.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServicioProductos.Errores" />
      <xsd:import schemaLocation="http://localhost:60899/ServiceProductos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60899/ServiceProductos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioProductos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceProductos_CrearProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearProducto" />
  </wsdl:message>
  <wsdl:message name="IServiceProductos_CrearProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProductos_CrearProducto_ProductoRepetidoFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/ServicioProductos.Errores" name="detail" element="q1:ProductoRepetido" />
  </wsdl:message>
  <wsdl:message name="IServiceProductos_ObtenerProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProducto" />
  </wsdl:message>
  <wsdl:message name="IServiceProductos_ObtenerProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProductos_modificarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:modificarProducto" />
  </wsdl:message>
  <wsdl:message name="IServiceProductos_modificarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProductos_listarProductos_InputMessage">
    <wsdl:part name="parameters" element="tns:listarProductos" />
  </wsdl:message>
  <wsdl:message name="IServiceProductos_listarProductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarProductosResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceProductos">
    <wsdl:operation name="CrearProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProductos/CrearProducto" message="tns:IServiceProductos_CrearProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProductos/CrearProductoResponse" message="tns:IServiceProductos_CrearProducto_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceProductos/CrearProductoProductoRepetidoFault" name="ProductoRepetidoFault" message="tns:IServiceProductos_CrearProducto_ProductoRepetidoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProductos/ObtenerProducto" message="tns:IServiceProductos_ObtenerProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProductos/ObtenerProductoResponse" message="tns:IServiceProductos_ObtenerProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProductos/modificarProducto" message="tns:IServiceProductos_modificarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProductos/modificarProductoResponse" message="tns:IServiceProductos_modificarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarProductos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProductos/listarProductos" message="tns:IServiceProductos_listarProductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProductos/listarProductosResponse" message="tns:IServiceProductos_listarProductos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceProductos" type="tns:IServiceProductos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearProducto">
      <soap:operation soapAction="http://tempuri.org/IServiceProductos/CrearProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProductoRepetidoFault">
        <soap:fault use="literal" name="ProductoRepetidoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerProducto">
      <soap:operation soapAction="http://tempuri.org/IServiceProductos/ObtenerProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarProducto">
      <soap:operation soapAction="http://tempuri.org/IServiceProductos/modificarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarProductos">
      <soap:operation soapAction="http://tempuri.org/IServiceProductos/listarProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceProductos">
    <wsdl:port name="BasicHttpBinding_IServiceProductos" binding="tns:BasicHttpBinding_IServiceProductos">
      <soap:address location="http://localhost:60899/ServiceProductos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>