LIBRERIA_WEB_DSD2018/WebSite1/App_WebReferences/ServiceReference1/ServiceProductos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60899/ServiceProductos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioProductos" />
  <xs:element name="CrearProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicioProductos" minOccurs="0" name="productoACrear" nillable="true" type="q1:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServicioProductos" minOccurs="0" name="CrearProductoResult" nillable="true" type="q2:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServicioProductos" minOccurs="0" name="ObtenerProductoResult" nillable="true" type="q3:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServicioProductos" minOccurs="0" name="productoAModificar" nillable="true" type="q4:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServicioProductos" minOccurs="0" name="modificarProductoResult" nillable="true" type="q5:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarProductos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServicioProductos" minOccurs="0" name="listarProductosResult" nillable="true" type="q6:ArrayOfProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>